@font-face {
	font-family: 'Open Sans Light';
	src: url("../assets/font/opensanslight.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Light Italic';
	src: url("../assets/font/opensanslightitalic.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Normal';
	src: url("../assets/font/opensansregular.ttf");
	font-weight: normal;
	font-style: normal;
}
body {
	position: relative;
	font-family: $font_light;
	font-size: $font-size-normal;
	background-color: $color_westar;
	color: white;
}

/**
 * ****************************************
 * MIXINS
 * ****************************************
 */

@mixin alpha-background-color($attribute, $color, $background) {
	$percent: alpha($color) * 100%;
	$opaque: opacify($color, 1);
	$solid-color: mix($opaque, $background, $percent);
	#{$attribute}: $solid-color;
	#{$attribute}: $color;
}

@mixin display-flexy($orientation) {
	$old_orient: horizontal;
	@if $orientation == column {
		$old_orient: vertical;
	}
	@include display-box;
	@include box-orient($old_orient);
	@include display-flex();
	@include flex-direction($orientation);
}

@mixin flexy($value) {
	$old_value: 1;
	$test: 0 0 auto;
	@if $value == $test {
		$old_value: 0;
	}
	@include box-flex($old_value);
	@include flex($value);
}
@mixin flexy-align($value) {

	-webkit-box-pack: $value;
	-moz-box-pack: $value;
	-webkit-justify-content: $value;
	-ms-flex-pack: $value;
	justify-content: $value;

	-webkit-box-align: $value;
	-moz-box-align: $value;
	-webkit-align-items: $value;
	-ms-flex-align: $value;
	align-items: $value;
}
