.rrutsche-page {
	position: relative;

	.text {
		margin: $bu;
	}
	
	.content {
		margin-top: 80*$px;
		padding: $bu;
	}

	a {
		text-decoration: none;
    	font-family: $font_normal;
    	color: $color_tussock;
    	&:hover {
    		text-decoration: underline;
    	}
	}

	&.demo-parallax {
		text-align: center;
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 30px;
		}
	}
}