.rrutsche-page {
	position: relative;

	.text {
		margin: $bu;
	}
	
	.content {
		margin-top: 80*$px;
		padding: $bu;
	}

	a {
		text-decoration: none;
    	font-family: $font_normal;
    	color: $color_tussock;
    	&:hover {
    		text-decoration: underline;
    	}
	}

	.labels {
		position: absolute;
		top: 10*$px;
		right: 10*$px;
		.label {
			display: inline-block;
		    background: grey;
		    border-radius: 4*$px;
		    text-align: center;
		    margin: 5*$px;
		    padding: 5*$px 10*$px;
		}
	}

	&.demo-parallax {
		text-align: center;
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 30px;
		}
	}
}