/* Vendor Dependencies */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* dependencies */
/**
 * This document defines all used variables 
 */
/**
 * Colors
 */
/**
 * Bill App
 */
/**
 * Fonts
 */
/**
 * fontsizes
 */
/**
 * Dimension
 */
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("../assets/font/opensanslight.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../assets/font/opensanslightitalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Normal';
  src: url("../assets/font/opensansregular.ttf");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../../src/sass/_globals.scss */
body {
  position: relative;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 24px;
  background-color: #E3DFD7;
  color: white;
}

/* line 29, ../../src/sass/_globals.scss */
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 32, ../../src/sass/_globals.scss */
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 35, ../../src/sass/_globals.scss */
.flex-stretch {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

/* line 38, ../../src/sass/_globals.scss */
.flex-shrink {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 42, ../../src/sass/_globals.scss */
.font-s {
  font-size: 18px;
}

/* line 45, ../../src/sass/_globals.scss */
.font-m {
  font-size: 24px;
}

/* line 48, ../../src/sass/_globals.scss */
.font-l {
  font-size: 32px;
}

/* line 1, ../../src/sass/_rrutschepage.scss */
.rrutsche-page {
  position: relative;
}
/* line 4, ../../src/sass/_rrutschepage.scss */
.rrutsche-page .text {
  margin: 10px;
}
/* line 8, ../../src/sass/_rrutschepage.scss */
.rrutsche-page .content {
  margin-top: 80px;
  padding: 10px;
}
/* line 13, ../../src/sass/_rrutschepage.scss */
.rrutsche-page a {
  text-decoration: none;
  font-family: "Open Sans Normal", Arial, sans-serif;
  color: #C29D4E;
}
/* line 17, ../../src/sass/_rrutschepage.scss */
.rrutsche-page a:hover {
  text-decoration: underline;
}
/* line 22, ../../src/sass/_rrutschepage.scss */
.rrutsche-page.demo-parallax {
  text-align: center;
}
/* line 24, ../../src/sass/_rrutschepage.scss */
.rrutsche-page.demo-parallax h1 {
  font-size: 40px;
}
/* line 27, ../../src/sass/_rrutschepage.scss */
.rrutsche-page.demo-parallax h2 {
  font-size: 30px;
}

/* line 1, ../../src/sass/_header.scss */
.header {
  height: 80px;
  width: 100%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 80px;
  background-color: #EF6555;
  z-index: 1;
}
/* line 13, ../../src/sass/_header.scss */
.header.light {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 18, ../../src/sass/_header.scss */
.header > div {
  text-align: center;
  line-height: 80px;
  color: white;
}
/* line 23, ../../src/sass/_header.scss */
.header .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -1px;
}
/* line 30, ../../src/sass/_header.scss */
.header .left, .header .right {
  position: relative;
  height: 100%;
  width: 80px;
  margin: 0 10px;
  cursor: pointer;
}
/* line 36, ../../src/sass/_header.scss */
.header .left .text, .header .right .text {
  letter-spacing: 0;
}

/* line 1, ../../src/sass/_section.scss */
.section {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 18px;
  color: #253E66;
}
/* line 9, ../../src/sass/_section.scss */
.section .title {
  font-size: 32px;
  color: white;
}
/* line 13, ../../src/sass/_section.scss */
.section .subtitle {
  font-size: 18px;
  color: white;
}
/* line 18, ../../src/sass/_section.scss */
.section .section-inner {
  display: inline-block;
  width: 80%;
}
/* line 23, ../../src/sass/_section.scss */
.section .labels {
  width: 20%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}
/* line 28, ../../src/sass/_section.scss */
.section .labels .label {
  display: inline-block;
  background: grey;
  color: white;
  border-radius: 4px;
  text-align: center;
  margin: 5px;
  padding: 5px 10px;
}

@media screen and (max-width: 320px) {
  /* line 41, ../../src/sass/_section.scss */
  .section .section-inner, .section .labels {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
